h3 {
    color: rgb(100, 50, 200, 0.35);
}

p {
    text-decoration: underlined;
    font-style: italic;
    font-size: 20px;
}

body {
    background-color: rgb(236, 223, 223);
    font-family: 'Courier New', Courier, monospace;

}

.box {
    background-color: white;
    width: 50%;
}